<!-- This View contains the markup for address administration -->

<script type="text/javascript">
	$(function(){
		$('.address-list-item').click(function() {
			$('.address-list-item').removeClass('selected');
			$(this).addClass('selected');
		});
	});
</script>

<%= form_for(@address, :url => url_for(:controller => 'addresses', :action => 'create'), :remote => true ) do |f| %>
 
   <%= f.label :firstname, 'Vorname' %>
   <%= f.text_field :firstname %><br />
   
   <%= f.label :lastname, 'Nachname' %>
   <%= f.text_field :lastname %><br />
   
   <%= f.label :address, 'Strasse / Hausnummer' %>
   <%= f.text_field :address %><br />
   
   <%= f.label :postalcode, 'Postleitzahl' %>
   <%= f.text_field :postalcode %><br />
   
   <%= f.label :location, 'Ort' %>
   <%= f.text_field :location %><br />
   
   <%= f.label :country, 'Land' %>
   <%= f.select :country, options_for_select([['Österreich', 'at'], ['Deutschland', 'de'], ['Schweiz', 'ch']]) %>
   
   <%= submit_tag("Adresse hinzufügen") %>
   
<% end %>

<div>
	<ul id="addresses-list">
		<%= render :partial => 'addresses/index', :locals => {:addresses => @addresses} %>
	</ul>
</div>

<%= link_to '-> Weiter zur Bestellübersicht', shop_checkout_payment_path, :id => 'link-to-checkout', :class => 'orangebutton' %>
