<!-- Nur zum Testen, wird noch entfernt -->
<script type="text/javascript">
	$(function(){
		// Accordion
		$("div.accordion").accordion({
			 create: function(event, ui) {
			 	$( "div.categories-accordion" ).accordion( "option", "active", $('.category-menu-item').index($('#category-id-<%= @product.category.parent.parent.id.to_s %>')));
			 	$( "div.subcategories-accordion" ).accordion( "option", "active", $('.subcategory-menu-item').index($('#subcategory-id-<%= @product.category.parent.id.to_s %>')));
			 },
			 animated: '',
		     autoHeight: false,
		    //collapsible: true
		});
		
		$( "div.accordion" ).accordion( "option", "animated", 'slide' );
	});
</script>

<div id="categories">
	<h2 id="leftbanner">Produkte</h2>
	
	<div class="accordion categories-accordion">

		<% @categories.each do |category| %>
			<h3><%= link_to category.name, '#', :class => 'category-menu-item', :id => 'category-id-'+category.id.to_s %></h3>
			<div class="accordion subcategories-accordion">
				<% category.children.each do |subcategory| %>
			       	<h3> -> <%= link_to subcategory.name, '#', :class => 'subcategory-menu-item', :id => 'subcategory-id-'+subcategory.id.to_s %></h3>
			       	<div>
				        <% subcategory.children.each do |subsubcategory| %>
					       	<h3> ---> <%= link_to subsubcategory.name, shop_index_path(:category_id => subsubcategory.id) %></h3>
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>   
	


<div id="middlebox">
	<div id="description"><%= render :partial => 'cart_items/show', :locals => {:product => @product} %></div>

	<div id="form"><%= render :partial => 'cart_items/form', :locals => {:cart_item => @cart_item} %></div>
</div>

<div id="cart">
	<h2 id="rightbanner">Warenkorb</h2>
	<%= render :partial => 'cart_items/index', :locals => {:cart_items => @cart_items} %>
	<% if @cart_items.count == 0 %>
		<%= link_to '-> Zur Kasse', shop_checkout_path, :id => 'link-to-checkout', :style => 'display:none;' %>
	<% else %>
		<%= link_to '-> Zur Kasse', shop_checkout_path, :id => 'link-to-checkout' %>
	<% end %>
</div>
