<div id="categories">
	<h2 id="leftbanner">Produkte</h2>
	<ul>
		<% @categories.each do |category| %>
			<% if category.parent_id.nil? %>
				<li id="category-<%= category.id %>"><%= category.name %></li>
				<ul>
					<% @categories.each do |subcategory| %>
						<% if subcategory.parent_id == category.id %>
							<li id="category-<%= subcategory.id %>"><%= link_to subcategory.name, shop_index_path(:category_id => subcategory.id) %></li>
							<ul>
							<% @categories.each do |subsubcategory| %>
								<% if subsubcategory.parent_id == subcategory.id %>
									<li id="category-<%= subsubcategory.id %>"><%= link_to subsubcategory.name, shop_index_path(:category_id => subsubcategory.id) %></li>
								<% end %>
							<% end %>
							</ul>
						<% end %>
					<% end %>
				</ul>
			<% end %>
		<% end %>
	</ul>
</div>


<div id="middlebox">
	<h2>Hier die Beschreibung:</h2>
	<div id="description"><%= render :partial => 'cart_items/show', :locals => {:product => @product} %></div>
	
	<h2>Hier das Formular:</h2>
	<div id="form"><%= render :partial => 'cart_items/form', :locals => {:cart_item => @cart_item} %></div>
</div>

<div id="cart">
	<h2 id="rightbanner">Warenkorb</h2>
	<%= render :partial => 'cart_items/index', :locals => {:cart_items => @cart_items} %>
	<%= link_to '-> Zur Kasse', shop_checkout_path, :id => 'link-to-checkout', :style => 'display:hidden;' %>
</div>
