Hier kommen die Kategorien
<div id="categories">
	<ul>
		<li><%= link_to "Kat1", orders_index_path(:product_id => 1) %></li>
		<li><%= link_to "Kat2", orders_index_path(:product_id => 2) %></li>
		<li><%= link_to "Kat3", orders_index_path(:product_id => 3) %></li>
	</ul>
</div>

Hier die Beschreibung:
<div id="description"><%= render :partial => 'cart_items/show', :locals => {:product => @product} %></div>

Hier das Formular:
<div id="form"><%= render :partial => 'cart_items/form', :locals => {:cart_item => @cart_item} %></div>


Warenkorb:
<div id="cart">
	<ul>
		<% @cart_items.each do |cart_item| %>
			<li><%= cart_item.amount %>x <%= cart_item.product.name %> - <%= cart_item.product.color %> </li>
		<% end %>
	</ul>
</div>
