<div id="categories">
	<h2>Produkte</h2>
	<ul>
		<li><%= link_to "Kat1", cart_item_path(1), :remote => true %></li>
		<li><%= link_to "Kat2", cart_item_path(2), :remote => true %></li>
		<li><%= link_to "Kat3", cart_item_path(3), :remote => true %></li>
	</ul>
</div>

<div id="form">
	<h2>Formluar</h2>
</div>

<div id="cart">
	<h2>Warenkorb</h2>
	<ul>
		<% @cart_items.each do |cart_item| %>
			<li><%= cart_item.amount %>x <%= cart_item.product.name %> - <%= cart_item.product.color %> </li>
		<% end %>
	</ul>
</div>
