<div id="categories">
	<h2>Produkte</h2>
	<ul>
		<li><%= link_to "Kat1", orders_index_path(:product_id => 1) %></li>
		<li><%= link_to "Kat2", orders_index_path(:product_id => 2) %></li>
		<li><%= link_to "Kat3", orders_index_path(:product_id => 3) %></li>
	</ul>
</div>


<div id="middlebox">
	<h2>Hier die Beschreibung:</h2>
	<div id="description"><%= render :partial => 'cart_items/show', :locals => {:product => @product} %></div>
	
	<h2>Hier das Formular:</h2>
	<div id="form"><%= render :partial => 'cart_items/form', :locals => {:cart_item => @cart_item} %></div>
</div>

<div id="cart">
	<h2>Warenkorb</h2>
	<ul>
		<% @cart_items.each do |cart_item| %>
			<li><%= cart_item.amount %>x <%= cart_item.product.name %> - <%= cart_item.product.color %> </li>
		<% end %>
	</ul>
</div>
